<< define "stylesheet" >>
<style>
  .gallery {
    position: relative;
  }
  .debug .col-md-4,
  .debug .col-md-4 em,
  .debug .col-md-4 img {
    border: 1px solid;
  }
  .col-md-4,
  .col-md-4 em,
  .col-md-4 img {
    border: none;
  }
  .listing-img:hover {
    cursor: pointer;
  }
  .listing-highlight {
    position: absolute;
  }
  .listing-highlight .listing-img {
    float: left;
  }
</style>
<< end >>

<< define "body" >>
<div class="gallery debug" ng-app="lottelineStore" ng-controller="StoreController as store">
  <div class="listing col-xs-6 col-md-3" ng-repeat-start="product in store.products">
    <ll-listing class="test" remove-class="test"></ll-listing>
  </div>
  <div class="clearfix" ng-show="$index % 4 == 3" ng-repeat-end></div>
  <div class="listing-highlight col-xs-6 col-md-3" ng-show="showListing">
    <img class="listing-img"/>
    <p class="listing-desc">
    <p class="listing-price">
  </div>
</div>
<< end >>

<< define "script" >>
<script>
  var app = angular.module('lottelineStore', ['ui.bootstrap']);
  app.controller('StoreController', function($scope) {
    this.products = products;
    $scope.showListing = "abc";
    this.goToEtsy = function(link) {
      window.location.href = link;
    };
  })
  .directive('llListing', function() {
    return {
      restrict: 'E',
      templateUrl: "templates/ll-listing.html",
      link: function(scope, element, attrs) {
        var sc = scope;
        var el = element[0];
        var listing = document.querySelector('.listing-highlight');
        element.on('mouseenter', function(event) {
          sc.showListing = true;
          var currentEl = el.querySelector('.ll-listing');
          listing.replaceChild(
            currentEl.querySelector('.listing-img').cloneNode(),
            listing.querySelector('.listing-img'))
          listing.querySelector('.listing-desc').textContent =
              currentEl.dataset.listingDesc;
          listing.querySelector('.listing-price').textContent =
              currentEl.dataset.listingPrice;
        }).on('mouseleave', function() {
          sc.showListing = false;
        });
      }
    };
  });
  var products = [
    {
      'name': 'grosgrain knot headband - 3 for 12.00',
      'price': '12',
      'img': 'https://img1.etsystatic.com/057/1/8614425/il_570xN.722253753_itzf.jpg',
      'shopLink': 'https://www.etsy.com/listing/219991973/grosgrain-knot-headband-3-for-1200?ref=shop_home_active_1',
    },
    {
      'name': 'grosgrain flat bow - single',
      'price': '8',
      'img': 'https://img1.etsystatic.com/048/0/8614425/il_570xN.722253031_2cha.jpg',
      'shopLink': 'https://www.etsy.com/listing/219340767/grosgrain-flat-bow-single?ref=shop_home_active_2',
    },
    {
      'name': 'grosgrain knot bow clips - 3 for 12.00',
      'price': '12',
      'img': 'https://img1.etsystatic.com/057/0/8614425/il_570xN.721086297_268y.jpg',
      'shopLink': 'https://www.etsy.com/listing/220938356/grosgrain-knot-bow-clips-3-for-1200?ref=shop_home_active_3',
    },
    {
      'name': 'grosgrain flat bow - double',
      'price': '10',
      'img': 'https://img0.etsystatic.com/056/0/8614425/il_570xN.722123254_kbnx.jpg',
      'shopLink': 'https://www.etsy.com/listing/221149433/grosgrain-flat-bow-double?ref=shop_home_active_4',
    },
    {
      'name': 'top knot bow headband for baby and kids - nylon headband - nylon headwrap',
      'price': '12',
      'img': 'https://img0.etsystatic.com/050/0/8614425/il_570xN.713376426_hl0o.jpg',
      'shopLink': 'https://www.etsy.com/listing/218961983/top-knot-bow-headband-for-baby-and-kids?ref=shop_home_active_5',
    }
  ];
</script>
<< end >>
