{{define "body"}}
  <div id='header'>
    <h1>Coming Soon</h1>
    <div>
      Redirecting you to the Etsy Shop
      <span class="one">.</span>
      <span class="two">.</span>
      <span class="three">.</span>
    </div>
  </div>
{{end}}