{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {{ template "stylesheet" }}
    <style>
      #header {
        margin-top: 25%;
        text-align: center;
      }

      #header h1 {

      }

      .one {
          opacity: 0;
          -webkit-animation: dot 1.3s infinite 0s;
          animation: dot 1.3s infinite 0s;
      }

      .two {
          opacity: 0;
          -webkit-animation: dot 1.3s infinite 0.1s;
          animation: dot 1.3s infinite 0.1s;
      }

      .three {
        opacity: 0;
        -webkit-animation: dot 1.3s infinite 0.2s;
        animation: dot 1.3s infinite 0.2s;
      }

      @-webkit-keyframes dot {
            0% { opacity: 0; }
           50% { opacity: 0; }
          100% { opacity: 1; }
      }

      @keyframes dot {
            0% { opacity: 0; }
           50% { opacity: 0; }
          100% { opacity: 1; }
      }
    </style>
  </head>
  <body>
    {{ template "body" }}
    {{ template "script" }}
  </body>
</html>
{{ end }}